.DS_Store
.classpath
.project
.settings/
manifest
bin/

# Minecraft
banned-ips.txt
banned-players.txt
bukkit.yml
liza-error.txt
liza-output.txt
ops.txt
server.log*
server.properties
white-list.txt
world

# Dependency JARs
Permissions.jar
lightlevel-snapshot.jar

# LightLevel
LightLevel
